
  .weather-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .weather-details {
    margin-top: 20px;
  }
  
  .weather-details p {
    margin: 10px 0;
  }
  
  .weather-details img {
    display: inline-block;
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }
  