.horizontal-container {
    display: flex;
  }
  
  .stat-container {
    margin-right: 20px;
  }
  
  .disk-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
  }
  
  .disk-stats {
    border: 1px solid #ccc;
    padding: 10px;
  }