.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  background-color: #f0f0f0;
  margin: 0;
}

.content-container {
  display: flex;
  flex: 1;
}

.left-column {
  flex: 1;
  padding: 4px;
  background-color: #f2f2f2;
}

.right-column {
  flex: 1;
  padding: 4px;
  background-color: #e8e8e8;
}

.left-column h1 {
  margin-bottom: 10px;
}

.BitcoinPriceBoard {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
